.email-verification-sent {
  width: 450px;
  height: auto;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
}

.email-verification-sent img {
  width: 90px;
  margin: 25px;
}

.email-verification-sent p {
  line-height: 1.4rem;
  margin: 15px 25px;
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 300;
}

.link-to-log-in-button {
  text-decoration: none;
  color: #000000;
}

.link-to-log-in-button div {
  margin: 10px 3px 20px 0;
  padding: 10px 20px 10px 20px;
  background-color: #2596be;
  cursor: pointer;
  color: #ffffff;
}

.link-to-log-in-button div:hover {
  background-color: #2595beda;
}