@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.sign-up {
  width: 100vw;
  height: calc(100vh - 70px);
  background-image: url("../../../images/killarney4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  overflow: auto;
}

.sign-up-form {
  width: 450px;
  height: auto;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.create-an-account {
  margin: 20px 0 7px 0;
}

.form-child {
  width: 80%;
  margin: 10px 0 10px 0;
}

.form-input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.form-input::placeholder {
  color: #a0a0a0;
  font-weight: 300;
}

.input-success:hover {
  border-color: #428a12;
}

.input-success:focus {
  border: 2px solid #428a12;
}

.existing-account {
  color: red;
  font-weight: 400;
  font-size: 14px;
  margin: 5px;
}

.sign-up-form button {
  margin: 10px 0 15px 0;
  width: 80%;
  height: 40px;
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.sign-up-form-button {
  background-color: #428a12;
  color: #ffffff;
}

.sign-up-form-button:hover {
  background-color: #428a12d8;
}

.sign-up-form p {
  line-height: 1.5rem;
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 300;
}

.log-in-a-tag {
  text-decoration: none;
  color: #428a12;
  font-weight: 600;
}

.log-in-a-tag:hover {
  color: #428a12d8;
}

.continue-with-google {
  background-color: #5686da;
  color: #ffffff;
  position: relative;
}

.continue-with-google img {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 21px;
  height: 21px;
}

.continue-with-google:hover {
  background-color: #5686dad5;
}

@media (max-height: 600px) {
  .sign-up {
    width: 100vw;
    height: auto; /* Allows for scrolling if screen height is too short */
  }
  
  .sign-up-form {
    margin: 25px;
  }
}