@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.module-card {
  height: 312px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.module-card-no-bg {
  background-color: rgba(101,96,92,1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.module-info {
  margin: 0 0 20px 20px;
  width: auto;
  max-width: 300px;
  background: #4c4b4b7f;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.campsite-title {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3px;
}

.five-star-rating-card {
  display: flex;
}

.half-star-container {
  position: relative;
  float: left;
  width: 10px; /* Container width must be 1/2 star width */
  height: 20px; /* Container height should match height of star */
  overflow: hidden; /* Hide anything outside of the container */
}

/* Position both L/R stars to be 50% from the top & reference its center point */
.left-half-star, .right-half-star {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-half-star {
  left: 100%;
}

.right-half-star {
  left: 0%;
}

.park-name {
  color: #fff;
  font-weight: 300;
}