.reviews-list {
  white-space: pre-line;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  height: auto;
}

.review-container {
  padding: 30px 0;
  height: auto;
  width: 85%;
  border-bottom: 1px solid rgb(223, 223, 223);
  position: relative;
  display: flex;
}

.left-review-container {
  width: 75%;
}

.review-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.review-user-info img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.user-review-date {
  margin: 10px 0 0 20px;
}

.user-review-date h4 {
  margin-bottom: 7px;
}

.user-review-date div {
  display: flex;
  align-items: center;
}

.user-star-container {
  margin: 0 10px 0 0;
  color: #ffb400;
}

.user-review-date p {
  margin: 0 15px 0 0;
  font-size: 14px;
  color: #646464;
}

.review-body-container {
  margin-left: 30px;
}
.review-body {
  color: #414141;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.questions-container {
  width: 25%;
  margin: 10px 0 17px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.questions-container p {
  /* margin: 0 20px 0 20px; */
  font-size: 14px;
  line-height: 1.5em;
}

.questions-container span {
  font-weight: 300;
}

.edit-delete-review {
  position: absolute;
  bottom: 5px;
  right: 0px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #428a13;
}

.edit-delete-review:hover {
  color: #438a13cc;
}