.log-in {
  width: 100vw;
  height: calc(100vh - 70px);
  background-image: url("../../../images/killarney6.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  overflow: auto;
}

.log-in-form {
  width: 450px;
  height: auto;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.log-in-form h2 {
  margin: 23px 0 13px 0;
}

.log-in-form p {
  line-height: 1.5rem;
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 300;
}

.log-in-form input {
  margin: 5px 0 5px;
}

.log-in-form button {
  margin: 10px 0 15px 0;
  width: 80%;
  height: 40px;
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  color: white;
}

.log-in-button-form {
  background-color: #428a12;
}

.log-in-button-form:hover {
  background-color: #428a12d8;
}
