.user-logged-in {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/algonquin-highlands.jpg");
  background-size: cover;
  background-position: center;
}

.user-logged-in-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 5px;
  width: 270px;
  height: 150px;
  color: #1d1d1d;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.user-logged-in-child p {
  margin: 10px;
  line-height: 1.5rem;
  font-size: 17px;
}

.user-logged-in-child button {
  margin: 10px;
  color: #1d1d1d;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  width: 75%;
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: #ff69b4;
  color: #fcfcfc;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 2px;
}

.user-logged-in-child button:hover {
  background-color: #ff69b4dd;
}