.Home {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/killarney5.jpg");
  background-size: cover;
  background-position: center;
}

.home-title {
  text-align: center;
  margin: 16px;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  font-size: 43px;
}