@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.search-bar {
  /* Center the search bar div into the middle of the screen */
  margin-bottom: 150px;
}

.search-bar-form {
  width: 700px;
  height: 95px;
  display: flex;
  padding: 15px;
  background-color: #ffffff6e;
  border-radius: 10px;
  position: relative;
}

.search-icon {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-icon img {
  height: 18px;
  width: 18px;
  opacity: 0.5;
}

.search-bar-input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.35rem;
  color: #444444;
  font-family: 'Varela Round', sans-serif;
}

.search-bar-input::placeholder {
  color: #4444449c;
  opacity: 1;
}

.search-bar-form button {
  width: 20%;
  height: 100%;
  background-color: #448c14;
  color: #ffffff;
  font-size: 1.3rem;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Varela Round', sans-serif;
  outline: none;
}