.search-list {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #fcfcfc;
  width: 100%;
  height: auto;
  max-height: 215px;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-list-off {
  display: none;
}

.search-item {
  list-style: none;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 10px 0 10px 20px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #448c14;
  color: white;
}