@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.search-bar {
  /* Center the search bar div into the middle of the screen */
  margin-bottom: 90px;
}

.search-bar-form {
  width: 700px;
  height: 95px;
  display: flex;
  padding: 15px;
  background-color: #ffffff6e;
  border-radius: 10px;
}

.search-icon {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-icon img {
  height: 18px;
  width: 18px;
  opacity: 0.5;
}

.search-bar-form input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.35rem;
  color: #444444;
  font-family: 'Varela Round', sans-serif;
}

.search-bar-form input::placeholder {
  color: #4444449c;
  opacity: 1;
}

.search-bar-form button {
  width: 20%;
  height: 100%;
  background-color: #448c14;
  color: #ffffff;
  font-size: 1.3rem;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Varela Round', sans-serif;
  outline: none;
  cursor: pointer;
}

.search-bar-form button:hover {
  background-color: #5a9b2fea;
}

@media (max-width: 750px) {
  .search-bar h2 {
    font-size: 35px;
  }
  
  .search-bar-form {
    width: 500px;
    height: 80px;
    display: flex;
    padding: 14px;
    border-radius: 10px;
  }

  .search-icon img {
    height: 14px;
    width: 14px;
  }

  .search-bar-form input {
    font-size: 1.2rem;
  }

  .search-bar-form button {
    font-size: 1.15rem;
  }
}

@media (max-width: 499px) {
  .search-bar h2 {
    font-size: 30px;
  }
  
  .search-bar-form {
    width: 335px;
    height: 75px;
    display: flex;
    padding: 12px;
    border-radius: 10px;
  }

  .search-icon img {
    height: 14px;
    width: 14px;
  }

  .search-bar-form input {
    font-size: 1rem;
  }

  .search-bar-form button {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .search-bar h2 {
    font-size: 20px;
  }

  .search-bar-form {
    width: 280px;
  }

  .search-bar-form input {
    font-size: 0.8rem;
  }

  .search-bar-form button {
    font-size: 0.7rem;
  }
  
  .search-icon {
    width: 10%;
    padding-left: 5px;
  }

  .search-icon img {
    height: 10px;
    width: 10px;
  }
}
