.carousel {
  width: 100vw;
  height: 100vh;
  background-color: #000000d0;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.close-carousel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: #d8d8d8;
  cursor: pointer;
}

.arrow-container {
  background: #00000033;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container img {
  width: 25px;
  filter: invert(0.75);
}

.arrow-container-left {
  left: 20px;
}

.arrow-container-right {
  right: 20px;
}

.campsite-img {
  max-width: 100vw;
  max-height: 100vh;
  /* Position image in centre of screen */
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}

.campsite-img-hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.carousel-bar {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  /* position info bar at the bottom */
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.carousel-img-info {
  display: flex;
  align-items: center;
}

.carousel-user-icon {
  width: 40px;
  height: auto;
}

.carousel-img-info div {
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: column;
}

.carousel-img-info p {
  line-height: 1.4em;
  color: #fff;
  font-size: 14px;
}

.carousel-bottom-right {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.carousel-date {
  margin-top: 3px;
  font-weight: 300;
  font-size: 13px;
}

.hide {
  display: none;
}