.campsite-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campsite-header-no-image {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #9599E2 0%, #8BC6EC 100%);
}

.campsite-title {
  padding: 0 0 6px 20px;
  color: white;
}

.five-star-rating {
  padding: 0 0 0 19px;
}

.campsite-header-stars {
  color: gold;
}

.right-side-header {
  height: 35px;
  display: flex;
  align-items: center;
}

/* .select-campsite-header {
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2b2b2b;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
} */

.drop-down-header {
  /* height: 100%; */
  min-height: 35px;
  width: 220px;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.drop-down-span {
  padding-left: 5px;
  color: #5a5a5a;
}

.down-arrow {
  width: 10px;
  transition: 0.2s;
}

.up-arrow {
  transform: rotate(-180deg);
}

.drop-down-ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 220px;
  height: 335px;
  background-color: white;
  overflow-y: scroll;
}

.drop-down-ul-open {
  display: block;
}

.drop-down-item {
  text-decoration: none;
  color: #5a5a5a;
}

.drop-down-item li {
  list-style-type: none;
  padding: 10px 0 10px 10px;
  font-size: 14px;
}

.drop-down-item li:hover {
  color: white;
  background-color: #448c14;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.green-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  background-color: #448c14;
  color: white;
  width: 35px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.green-search-icon img {
  width: 17px;
  height: 17px;
  filter: invert(100%);
}