.campsite-header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campsite-header-no-image {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #9599E2 0%, #8BC6EC 100%);
}

.campsite-title {
  padding: 0 0 6px 20px;
  color: white;
}

.five-star-rating {
  padding: 0 0 0 19px;
}

.campsite-header-stars {
  color: gold;
}