@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.module-card {
  height: 312px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.module-card-no-bg {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.module-info {
  margin: 0 0 20px 20px;
  width: auto;
  max-width: 300px;
  background: rgba(76, 75, 75, 0.5);
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  font-family: 'DM Sans', sans-serif;
}

.campsite-title {
  color: white;
  font-size: 1.3rem;
}

.campsite-stars {
  color: #ffb400;
}

.campsite-stars-card {
  margin: 7px 0 7px 0;
}

.park-name {
  color: white;
  font-weight: 300;
}