.upload-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
}

.upload-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 400px;
  border: 3px solid blue;
}

.progress-bar {
  position: relative;
}

/* Center number within circle */
.progress-num {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}