.upload-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 100ms;
}

.upload-modal {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 450px;
  background-color: #ffffff;
  border-radius: 15px;
}

.close-modal-button {
  font-size: 20px;
  margin-bottom: 10px;
  color: #5a5a5a;
  cursor: pointer;
}

.upload-modal h1 {
  margin-bottom: 15px;
}

.progress-bar {
  position: relative;
}

/* Center number within circle */
.progress-num {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}