.upload-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 100ms;
}

.upload-modal {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 450px;
  background-color: #ffffff;
  border-radius: 15px;
}

.close-modal-button {
  width: 25px;
  height: 25px;
  font-size: 20px;
  margin-bottom: 10px;
  color: #5a5a5a;
  cursor: pointer;
}

.upload-modal h1 {
  color: #363636;
  margin: 15px 0 20px 0;
  font-size: 1.5em;
}

.uploader-input {
  display: none;
}

.label-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin-bottom: 5%;
}

.icon-bg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8cc74030;
}

.label-container img {
  width: 60px;
}

.label-container h4 {
  margin: 20px 0 6px 0;
  color: #363636;
}

.label-container p {
  font-size: 14px;
  font-weight: 300;
  color: #5a5a5a;
  margin: 4px;
}

.file-name {
  margin-top: 3px;
  font-size: 16px;
  color: #448c14;
}

.upload-button-container {
  float: right;
}

.uploader-button, .uploader-button-no-file {
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.uploader-button {
  background-color: #448c14;
  cursor: pointer;
}

.uploader-button:hover {
  background-color: #448c148f;
}

.uploader-button-no-file {
  background-color: #448c148f;
}


.progress-bar {
  /* display: none; */
  position: relative;
}

/* Center number within circle */
.progress-num {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}