@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.navbar {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #ff7e33cb; */
  background-color: #fafafa;
  padding: 0 35px 0 35px;
}

.navbar-left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.title {
  color: #2795bd;
  font-size: 26px;
  margin: 0 0 0 20px;
}

.navbar-right-div {
  width: auto;
  display: flex;
  align-items: center;
}

.about {
  font-size: 15px;
  text-decoration: none;
  color: #727272;
  font-family: 'Lato', sans-serif;
  margin-right: 30px;
}

.login-false {
  display: flex;
  width: auto;
  justify-content: space-around;
}

.login-false button {
  width: 80px;
  height: 40px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.login-false button:first-child {
  background-color: #2596be;
  color: white;
  margin: 0 8px 0 0;
}

.login-false button:first-child:hover {
  background-color: #239eca;
}

.login-false button:last-child {
  background-color: #fafafa;
  border: 2px solid #2596be;
  color: #2b7f9e;
}

.login-false button:last-child:hover {
  color: #279fca;
  border-color: #279fca;
}

.login-true {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.login-true h4 {
  color: #525252;
}

.profile-pic {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0px 8px 0 0;
}

@media (max-width: 500px) {
  .navbar {
    height: 160px;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .title {
    font-size: 18px;
  }

  .title img {
    width: 50px;
    height: 50px;
  }

  .title h1 {
    margin: 0 0 0 10px;
  }

  .navbar-right-div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about {
    /* font-size: 15px;
    margin: 0px; */
    display: none;
  }

  .login-false button {
    width: 70px;
    height: 35px;
    margin: 0 0 13px 0;
  }

  .profile-pic {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 15px 0 0;
  }
}