.campsite-container {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.no-scroll {
  overflow-y: hidden;
}

.campsite {
  width: 1050px;
  min-height: calc(100vh - 70px);
  height: auto;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  /* overflow-x: hidden; */
}