* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
} */

.App {
  max-width: 100%;
  height: auto;
  /* background-image: url("images/algonquin-highlands.jpg");
  background-size: cover;
  background-position: center; */
}