.photos-container {
  padding: 20px 0 20px 0;
  width: 100%;
  min-height: 312px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  gap: 25px;
  display: flex;
  justify-content: center;
}

.image-container {
  width: 200px;
  height: 200px;
  object-fit: cover;
  vertical-align: initial;
  background-position: center;
  float: left;
  /* display: inline-block; */
}

.square-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: initial;
  background-position: center;
  border-radius: 10px;
}