.reviews-container {
  width: 100%;
  min-height: 312px;
}

.write-review-button-container {
  width: 85%;
  min-height: 130px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.no-reviews h2 {
  font-size: 1.3rem;
}

.no-reviews p {
  font-weight: 300;
}

.review-button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #448c14;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.review-button:hover {
  background-color: #448c14c5;
}