.reviews-container {
  width: 100%;
  height: auto;
}

.write-review-button-container {
  width: 85%;
  min-height: 130px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-reviews, .add-review-message {
  width: 430px;
}

.no-reviews h2, .add-review-message h2 {
  font-size: 1.3rem;
  margin: 5px 0;
}

.no-reviews p, .add-review-message p {
  font-weight: 300;
}

.review-button-container {
  position: relative;
}

.review-button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #448c14;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  position: relative;
}

.review-button:hover {
  background-color: #448c14c5;
}