.write-review-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 100ms;
}

.write-review-modal-0, .write-review-modal-1 {
  padding: 30px;
  width: 576px;
  height: 520px;
  background: #fff;
  border-radius: 16px;
  color: #414141;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.close-review-modal {
  color: #5a5a5a;
  width: auto;
  height: auto;
  font-size: 20px;
  cursor: pointer;
}

.modal-title {
  margin: 20px 0 15px 0;
}

.radio-star {
  display: none;
}

.review-star {
  cursor: pointer;
  transition: transform 300ms;
  margin: 0 4px 0 4px;
}

.review-star:hover {
  transform: scale(1.3);
}

.text-box-container {
  margin-top: 24px;
  width: 100%;
  height: 210px;
}

.review-text-box {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 13px;
  resize: none;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 25px;
}

.review-button-container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review-button, .review-button-invalid, .review-button-back {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.review-button {
  background-color: #448c14;
  cursor: pointer;
}

.review-button:hover {
  background-color: #448c148f;
}

.review-button-invalid {
  background-color: #448c148f;
  outline: none;
}

/* MODAL PAGE 1 */

.modal-questions-form {
  width: 100%;
  height: 273px;
  /* border: 1px solid #eeeeee; */
  /* border-radius: 10px; */
  /* padding: 12px; */
  overflow: auto;
}

.modal-question {
  background: #f5f5f5;
  padding: 10px;
}

.review-button-back {
  color: #448c14;
  background: #fff;
  font-weight: 600;
  margin-right: 25px;
  cursor: pointer;
}

.review-question {
  margin: 0 0 10px 0;
}

.radio-button {
  margin: 0 3px 0 0;
  cursor: pointer;
}

.radio-label {
  margin: 0 25px 0 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.modal-question {
  margin: 0 0 20px 0;
}